<div class="container-fluid">
  <!--===== 廣告輪播 =====-->
  <div class="row">
    <div class="col-md-12">
      <div id="intro" class="carousel slide" data-ride="carousel">
        <!--===== 輪播按鈕 =====-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#intro" data-slide-to="0" class="active"></li>
          <li data-target="#intro" data-slide-to="1"></li>
          <li data-target="#intro" data-slide-to="2"></li>
        </ol> -->
        <!--===== 輪播內容 =====-->
        <div class="carousel-inner" role="listbox">
          <% @intros.each_with_index do |intro,index| %>
            <% if index == 0 %>
              <div class="item active">
              <% else %>
                <div class="item">
                <% end %>
                <%= link_to intro.link, target: "_blank" do %>
                  <%= image_tag(intro.image) %>
                  <div class="carousel-caption">
                    <h3><%= intro.title %></h3>
                    <p><%= intro.content %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <!--===== 換頁按鈕 =====-->
          <a class="left carousel-control" href="#intro" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#intro" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- 中间区域介绍内容 -->
  <div class="row">
    <div class="landing-page-mid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="tagline text-center">我们重新定义 高质量生活</h1>
            <p class="col-md-6 col-md-offset-3 text-center tagp">
              我们重新定义高质量生活，一学即刻上手改变。 <br>
              不仅仅是课程，还是持续行动的社群，与千名会员一起感受蜕变，告别低质量生活。
              在这里，人人都是生活家。</p>
          </div>
          <div style="text-align:center;">
            <%= link_to("加入社群", "#", class: "btn btn-hero btn-lg") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== 商品類型 =====-->
  <section class="categories-box">

    <div class="row">
      <div class="col-md-4 category-content">
        <%= link_to 'https://j-and-a-select.herokuapp.com/products?group=%E6%97%A5%E5%B8%B8%E6%96%87%E5%85%B7' , class: "category_1" do %>
          <div class="category-box">
            <%= image_tag("category_1.jpg") %>
          </div>
          <div>
            <h3><%= t('th-desk') %></h3>
            <p><%= t('slogan-desk') %></p>
          </div>
        <% end %>
      </div>

      <div class="col-md-4 category-content">
        <%= link_to 'https://j-and-a-select.herokuapp.com/products?group=%E7%94%9F%E6%B4%BB%E5%99%A8%E7%89%A9' , class: "category_2" do %>
          <div class="category-box">
            <%= image_tag("category_2.jpg") %>
          </div>
          <div>
            <h3><%= t('th-home') %></h3>
            <p><%= t('slogan-home') %></p>
          </div>
        <% end %>
      </div>

      <div class="col-md-4 category-content">
        <%= link_to 'https://j-and-a-select.herokuapp.com/products?group=%E5%80%8B%E4%BA%BA%E5%96%AE%E5%93%81' , class: "category_3" do %>
          <div class="category-box">
            <%= image_tag("category_3.jpg") %>
          </div>
          <div>
            <h3><%= t('th-accessories') %></h3>
            <p><%= t('slogan-accessories') %></p>
          </div>
        <% end %>
      </div>

    </div>
  </section>


  <!-- 文章按钮区域 -->
  <div class="container">

    <div class="row">
      <div class="container topspan">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="titspan">资讯</h3>
          </div>
          <div class="col-xs-6">
            <%= link_to("more >", articles_path, class: "pull-right morespan") %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <% @articles.each do |article| %>
        <div class="article-all col-md-6 container">
          <div class="article-box row">

              <!-- 文章列表图片 -->
              <div class="col-md-5 all_image_css">
                <% if article.image.present? %>
                  <%= link_to image_tag(article.image.articleimg.url, class: "product-list-style-img img-responsive"), article_path(article) %>
                <% else %>
                  <%= link_to image_tag("http://placehold.it/600x400&text=No Pic", class: "product-list-style-img img-responsive"), article_path(article)%>
                <% end %>
              </div>

              <!-- 文章列表标题、作者、日期 -->
              <div class="col-md-7">
                <%= link_to(article.title, article_path(article), class: "article-index-title") %>
                <div class="article-user row">
                  <div class="col-md-6">
                    <span> <%= article.user.display_name %></span>
                  </div>
                  <div class="col-md-6">
                    <span> <%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
                  </div>
                </div>
              </div>

          </div>
          <hr>
        </div>
      <% end %>
    </div>
  </div>

  <!--===== 立即購買 =====-->
  <section class="push-box">
    <%= link_to(t('btn-buy-now'), products_path, class:'btn btn-push' ) %>
  </section>


</div>
