<div class="col-md-10 col-md-offset-1 admin-data-box">
  <hr style="size:2px" />

  <%= simple_form_for [:admin, @product] do |f| %>

    <!-- 判斷是否為new頁面 -->
   <% if @product.new_record? %>
   <% else %>
      <!-- 顯示商品圖片 -->
      <div class='group'>
        <% if @product.product_images.present? %>
          <% @product.product_images.each do |p| %>
            <%= image_tag p.image.thumb.url %>
          <% end %>
        <% end %>
      </div>
   <% end %>

    <!-- 上傳圖片 -->
    <%= f.label t('f-product-images') %><br>
    <%= f.file_field :product_image, :multiple => true, name: 'product_images[image][]' %>
    <!-- 商品名稱 -->
    <%= f.input :title, :label => t('f-product-name'), input_html: { class: 'width-50' } %>
    <!-- 选择分类 -->
    <%= f.input :category_id, :label => t('f-product-category'), :collection => @categories, :checked => @product.category, input_html: { class: 'width-50' } %>
    <!-- 商品敘述 -->
    <%= f.input :description, :label => t('f-product-description'), input_html: { class: 'height-200' } %>
    <!-- 商品售價 -->
    <%= f.input :price, :label => t('f-product-price'), input_html: { class: 'width-25' } %>
    <!-- 商品庫存數量 -->
    <%= f.input :quantity, :label => t('f-product-quantity'), input_html: { class: 'width-25' } %>
    <!-- 商品隱藏與否 -->
    <span class="hidden-box"><%= f.input :is_chosen, :label => t('f-product-chosen') %></span>
    <!-- 商品隱藏與否 -->
    <span class="hidden-box"><%= f.input :is_hidden, :label => t('f-hide') %></span>
    <div class="form-group">
      <%= f.label :friendly_id %>
      <%= f.text_field :friendly_id, :required => true, :class => "form-control" %>
      <p class="help-block">限小写英数字及横线，将作为网址的一部分</p>
    </div>
    <div class="form-actions">
      <%= f.submit t('f-submit'), class: 'btn btn-md btn-default' %>
    </div>
  <% end %>


</div>
