<ul class="breadcrumb">
  <li>
    <a href="/products">全品项商品</a> /
    <a href="/products?category=<%= @product.category.title %>"><%= @product.category.title %></a>
  </li>
</ul>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body", style="padding: 45px 0px;">

        <!-- 商品圖片區開始 -->
        <div class="col-md-5 col-md-offset-1">
          <!-- 第一张大图显示 -->
          <!-- <div class="intro-bigPic">
          <div class="magnifier-preview border" id="preview"></div>
            <% if @photos.present? %>
              <a class="magnifier-thumb-wrapper" href="javascript:;">
                <img
                  id="thumb"
                  src="<%= @photos.first.avatar.medium.url %>"
                  data-large-img-wrapper="preview"
                  data-large-img-url="<%= @photos.first.avatar.medium.url %>">
              </a>
            <% end %>
          </div> -->
          <!-- 第一张大图显示结束 -->
          <!-- 第一张图显示大图，其余的都显示小图 -->

          <!-- 多图显示功能：实现点击小图，大图跟着改变 -->
           <% if @photos.present? %>
             <div class="tab-content show-picture">
               <% @photos.each_with_index do |p,index| %>
                 <% if index <5 %>
                  <div class= "tab-pane <%= render_active(index) %>" id="<%= index %>"><%= image_tag(p.avatar.medium.url) %>
                  </div>
                 <% end %>
               <% end %>
             </div>

             <ul class="show-photo-xsmall-box nav nav-tabs">
               <% @photos.each_with_index do |p,index| %>
                 <% if index <5 %>
                   <li><a href="#<%= index %>" data-toggle="tab"><%= image_tag(p.avatar.small.url)%></a></li>
                 <% end %>
               <% end %>
             </ul>
          <!-- 多图显示功能结束 -->
           <% else %>
               <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
           <% end %>
        </div>
        <!-- 商品圖片區結束 -->

        <!-- 商品訊息區開始 -->
        <div class="col-md-5 col-md-offet-1">
          <!-- 商品名 -->
          <div style="height: 169px;">
            <h3> <%= @product.title %></h3>
          </div>
          <!-- 商品庫存 -->
          <div style="text-align: left;">
            现有库存量:<%= @product.quantity %>
          </div>

          <hr>
          <!-- 商品價格 -->
          <div class="well well-lg", style="text-align: right; padding-right: 30px; margin-bottom: 0px;">
            <h4 style="color: #edbdb5;"> ￥ <%= @product.price %></h4>
          </div>
          <!-- 商品購買集合鈕開始 -->
          <div class="btn-group btn-group-justified", style="height: 60px;">
            <!-- 实做立即购买按钮 -->
            <div class="btn btn-primary btn-lg buy_now", style="background-color: #474c6b;">
              <%= link_to("立即购买", buy_now_product_path, :method => :post) %>
            </div>
            <!-- 实做立即购买按钮结束 -->
            <% if @product.quantity.present? && @product.quantity > 0 %>
              <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :remote => true, class: "btn btn-primary btn-lg") %>
            <% else %>
              <%= link_to("已售罄", add_to_cart_product_path(@product), :method => :post,  class: "btn btn-primary btn-lg btn-danger disabled") %>
            <% end %>
          </div>
          <!-- 商品購買集合鈕結束 -->

          <hr>

          <!-- 商品評論＋點讚＋收藏集合鈕開始 -->
          <div class="btn-group btn-group-justified", style="height: 45px;">
<!-- 评价功能后面补做 -->

            <!-- 点赞的view部分 -->
<!-- 点赞功能后面补做 -->
            <!-- 点赞的view部分结束 -->

            <!-- 收藏商品和取消商品view部分 -->
  <!-- 收藏功能后面补做 -->
            <!-- 收藏商品和取消商品view部分结束 -->

          </div>
          <!-- 商品評論＋點讚＋收藏集合鈕結束 -->
          <!-- 社群分享鈕開始 -->
          <div class="social-share-button", style="float: right; margin-top: 5px;">
            <%= social_share_button_tag(@product.title, :allow_sites => %w(facebook twitter google_plus wechat weibo)) %>
          </div>
          <!-- 社群分享鈕結束 -->
        </div>
        <!-- 商品訊息區結束 -->

      </div>
    </div>
    </div>
  </div>
</div>


<!-- 商品详情及用户评价 -->
<div class="row">
  <div class="col-md-8  col-md-offset-1 col-xs-12", style="float: left;">
    <div class="productDetail">
      <ul class="productDetail-tabList">
        <li class="productDetail-tabList-tab productDetail-tabList-activeTab">
          商品详情
        </li>

      </ul>
      <div class="productDetail-contentWrap">
        <div class="productDetail-content col-md-9 col-centered" style="display: block; overflow: hidden;">
          <p><%= simple_format(@product.description) %></p>
          <!-- 商品详情区域显示多张图片开始 -->
          <div class="productDetail-introImg">
            <% if @pictures.present? %>
              <% @pictures.each_with_index do |p, index| %>
                  <%= image_tag p.avatar.big.url %>
              <% end %>
            <% else %>
                <!-- <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %> -->
            <% end %>
          </div>
          <!-- 商品详情区域显示多张图片结束 -->
        </div>
        <div class="productDetail-content col-md-9 col-centered" style="display: block; overflow: hidden;">
          <div id="product_comments">

        </div>
      </div>
    </div>
  </div>
  <!-- 商品详情和用户评价结束 -->

  <!-- 热卖商品区域 -->
  <div class="col-md-2 col-xs-8", style="padding-left: 0px;">
    <div>
      <p style="margin-top: 18px; text-align: center; margin-bottom: 15px;"><strong>推荐商品</strong></p>
    </div>
  </div>
</div>
<!-- 热卖商品区域结束 -->
