<hr/>

<!--=== 精選商品 ===-->
<div class='dropdown btn-group clearfix'>
  <%= link_to products_path(:chosen => 'y'), class: 'btn' do %>
    <%= t('f-product-chosen') %> #
  <% end %>
</div>

<!--=== 類型選單 ===-->
<% @category.each do |category| %>

  <div class='dropdown btn-group clearfix'>
    <button class='btn dropdown-toggle' type='button' data-toggle='dropdown'>
      <%= category.title %>
      <i class="fa fa-angle-down"></i>
    </button>

    <!-- 選項：列出該類型所有分類 -->
    <ul class='dropdown-menu'>
      <% categories.each do |category| %>
        <li>
          <%= link_to(category.title, products_path(:category => category.title)) %>
        </li>
      <% end %>
    </ul>

  </div>

<% end %>


<div class="path-box">
  <!--=== 產品頁面路徑 ===-->
  <div class="left-box">
      <a href="#pg" style= "color:white">全部商品</a>
      <a href="#cp" style= "color:white"><%= t('th-first')%></a>
      <a href="#cl" style= "color:white"><%= t('th-second') %></a>
      <a href="#gj" style= "color:white"><%= t('th-third') %></a>

  </div>

  <!-- 只在 Products#index 和 products/search 兩個頁面顯示 -->
  <% if current_page?(products_url) || current_page?('/products/search') %>
  <!--=== 排序選單 ===-->
  <div class="right-box">
    <div class="dropdown btn-group clearfix">
      <% if params[:order].present? %>
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= params[:order] %> <span class="caret"></span>
        </button>
      <% else %>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <%= t('order-btn-title') %> <span class="caret"></span>
        </button>
      <% end %>
      <!-- 選項：列出排序方式 -->
      <ul class="dropdown-menu dropdown-menu-right" selection aria-labelledby="dropdownMenuDivider">
        <li><%= link_to(t('order-btn-hot'), '#') %></li>
        <li><%= link_to(t('order-btn-recent'), '#') %></li>
        <li><%= link_to(t('order-btn-price-l'), '#') %></li>
        <li><%= link_to(t('order-btn-price-h'), '#') %></li>
        <li><%= link_to("价格从高到低", products_path(:order => "down_product.price"), :style => "color:#996247")  %></li>
        <li><%= link_to("价格从低到高", products_path(:order => "up_product.price"), :style => "color:#996247") %></li>
        <li><%= link_to("发表时间", products_path, :style => "color:#996247" ) %></li>
      </ul>
    </div>
  </div>
  <% end %>

</div>


<hr/>
