<div class="product-box">
  <br>
  <div class="container">
    <!--=== 商品類型 Banner ===-->
    <!-- 商品页标题栏-->
    <div class="nav-product">

      <ul class="nav nav-tabs" >
        <li role="presentation" class="active"><%= link_to("全部商品", products_path) %></li>
        <% Category.all.each do |category| %>
        <li role="presentation" >
           <%= link_to(category.title, products_path(category: category.title)) %>
         </li>
       <% end %>
      </ul>

      <br>
      <div class="dropdown clearfix text-right">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
          商品排序
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to("价格从高到低", products_path(:order => "down_product.price")) %></li>
          <li><%= link_to("价格从低到高", products_path(:order => "up_product.price")) %></li>
          <li><%= link_to("发表时间", products_path ) %></li>
        </ul>
      </div>

    </div>

    <hr>
    <!-- 商品页标题栏 end -->
    <% if @products.length > 0 %>
      <!--=== 商品列表 ===-->
      <div class='row'>
        <% @products.each_with_index do |product, index| %>
          <div class='col-xs-10 col-sm-4 col-md-3 product-content'>
            <%= link_to product_path(product) do %>
              <!-- 商品图片 -->
              <% if product.product_images.present? %>
                <!-- 显示第一张图片 -->
                <!-- 产品是否精选 -->
                <% if product.is_chosen %>
                  <div class="chosen-box">
                    <%= t('product-chosen') %>
                  </div>
                <% end %>
                <%= image_tag(product.product_images[0].image.thumb.url, class: 'thumbnail')%>
              <% else %>
                <%= image_tag('http://placehold.it/200x200&text=No Pic', class: 'thumbnail') %>
              <% end %>
            <% end %>
            <!-- 商品信息 -->
            <div class="product-info">
              <p><%= link_to(product.title, product_path(product)) %></p>
              <p><%= render_product_price(product) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="product-content">
        <h2><%= t('no-product-data') %></h2>
      </div>
    <% end %>
    <hr>
    <!-- 翻页栏 -->
    <div class="page-box">
      <%= will_paginate @products, renderer: BootstrapPagination::Rails, :previous_label => t('previous-label'), :next_label => t('next-label') %>
    </div>
  </div>
</div>
