<nav class="navbar navbar-default navbar-fixed-top navbar-style" role="navigation">
  <div class="container">
    <!--logo-->
    <div class="navbar-header">
      <a href="/" class="navbar-brand" style="font-size: 2.0em;"><%= t('web-name') %></a>
      <!-- 响应式导航 -->
      <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- links -->
    <div class="navbar-collapse navbar-ex1-collapse collapse navbar-right" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        <!-- 收藏 -->
        <li>
          <%= link_to account_products_path do %>
            <%= t('wish-list') %> <i class='fa fa-gift'></i>
          <% end %>
        </li>
        <li>
          <%= link_to carts_path do %>
            <%= t('cart') %> <i class="fa fa-shopping-cart"></i> ( <%= current_cart.products.count %> )
          <% end %>
        </li>
        <!-- 切换语系 -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= t('language') %>
            <span class="caret"></span>
          </a>
          <!-- 语系选项 -->
          <ul class="dropdown-menu">
            <li><%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %></li>
            <li><%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %></li>
          </ul>
        </li>
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to(content_tag(:i, " 登入", class: "fa fa-sign-in"), new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hi!,  <%= current_user.nickname %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to("管理员", admin_products_path, class: "li-style") %></li>
              <% end %>
              <li><%= link_to("个人中心", account_orders_path, class: "li-style") %></li>
              <li><%= link_to("退出", destroy_user_session_path, method: :delete, class: "li-style") %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('products_center')%>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to("全部商品", products_path, class: "li-style") %></li>
            <hr>
            <li><%= link_to("家人&朋友", "#", class: "li-style") %></li>
            <li><%= link_to("同学&同事", "#", class: "li-style") %></li>
            <li><%= link_to("公司文化&同行交流", "#", class: "li-style") %></li>
          </ul>
        </li>
      </ul>


<!-- 搜索框 -->
<div class="navbar-form navbar-right">
  <div id="custom-search-input">


    <%= form_tag search_products_path, :method => :get  do %>
      <div class="input-group col-md-12">
        <input type="text" class="form-control input-sm" name="keyword" value="<%= params[:keyword] %>" placeholder="<%= t('keywaods')%>">
        <div class="input-group-btn">
          <button class="btn btn-info btn-sm" type="submit">
            <span><i class="fa fa-search"></i></span>
          </button>
        </div>
          </div>
      <% end %>

  </div>
</div>

    </div>
  </nav>
